{% extends 'content/base.html' %}
{% load static %}

{% block title %}  Информация о бренде парфюмерии - Sisters Aroma | Украина  {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="about_block_1 container mt-4">
        <div class="row">
            <div class="col-md-6 text">
                <div class="b2">
                    <div>
                        <h1>АРОМАТЫ, КОТОРЫЕ ГОВОРЯТ</h1>
                        <p>
                            Sister’s Aroma –  украинский бренд нишевой парфюмерии, который был создан сестрами Дашей и Юлей:
                            «Больше всего мы ценим качество и делаем его доступным для каждого.»
                        </p>

                        <p>
                            С 2018 года бренд вырос и уже представлен на рынках: Украины, России, Казахстана и Беларуси.
                        </p>
                        <p>
                            Вся продукция содержит сертификаты европейского образца.
                            В коллекцию бренда входят: нишевые парфюмы, ароматы для дома, духи для автомобилей, санитайзеры с
                            нишевой композицией, smart кремы для тела, эко-свечи из соевого воска.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 img">
                <img src="{% static 'content/img/bg_header.webp' %}" alt="">
            </div>
        </div>
    </div>
    <div class="container page-wrap-2">
         <div class="about_block_2 container">
            <h1 class="title">КОНТАКТЫ</h1>
            {% include 'include/contacts.html' %}

        </div>
    </div>

{% endblock %}