{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'content/main.css' %}">
    <!--    Подключка Слайдера-->
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}">
    <!--    Подключка Анимаций-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {% block head %}

    {% endblock %}
</head>
<body>
    <nav class="">
        <div class="container">
            <div class="">
                <div class="logo float-left">
                    <a href="/"><img src="{% static 'content/img/logo_big.svg' %}" alt=""  height="25px"></a>
                </div>
                <div class="row float-right">
                    <div class="menu row">
                        <ul class="info">
                            <li><a href="{% url 'shop_main' %}">Магазин</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                            <li><a href="">Блог</a></li>
                            <li><a href="">Где нас найти?</a></li>
                        </ul>
                    <div>

                    <div class="menu ">
                        <ul class="row">
                            <li><div class="search">
                                <img src="{% static 'content/img/search.png' %}" height="25px;" alt="">
                            </div></li>

                            <li class="">
                                <form class="basket navbar-brand">
                                    {% csrf_token %}
                                    <a href="{% url 'you_basket' %}">
                                        <img src="{% static 'content/img/cart.png' %}" height="30px;" alt="">
                                        <div class="basket_item">0</div>
                                    </a>

                                </form>

                            </li>
                            <li id="menuCheck"><img src="{% static 'content/img/menu.png' %}" width="40px" alt=""></li>
                            <li>
                                <div  class="newLayer row">
                                    <div id="menu"class="col-lg-5">

                                        <div class="close">x</div>
                                        <div class="body_menu_1 mt-2 ml-sm-5">
                                            <div style="" class="row" >
                                                <div class="col-md-6 " style="margin-bottom: 15px; margin-top: 15px; " >
                                                    <p class="mb-3"><a style="font-weight: bolder" href="{%url 'shop_main'%}">Магазин</a></p>
                                                    <p><a class="" href="/shop/nabory">Наборы</a></p>
                                                    <p><a class="" href="/shop/bestsellers">Bestsellers</a></p>
                                                    <p><a class="" href="/shop/novinki">Новинки</a></p>
                                                    <p><a class="" href="/shop/parfyumy">Парфюмы</a></p>
                                                    <p><a class="" href="/shop/travel-versii">Travel версии</a></p>
                                                    <p><a class="" href="/shop/aromaty-dlya-doma">Ароматы для дома</a></p>
                                                    <p><a class="" href="/shop/sertifikaty">Сертификаты</a></p>
                                                    <p><a class="" href="/shop/ukhod">Уход за телом</a></p>
                                                    <p><a class="" href="/shop/svechi">Свечи</a></p>
                                                    <p><a class="" href="/shop/parfyumy-v-mashinu">Ароматы в авто</a></p>
                                                    <p><a class="" href="/shop/sanitayzery">Санитайзеры</a></p>

                                                </div>
                                                <div  class="col-md-6" style="margin-bottom: 15px; margin-top: 15px; ">
                                                   <p class="mb-3"><a style="font-weight: bolder" href="/contact">Где купить</a></p>
                                                    <p><a href="mailto:info@sistersaroma.com">info@sistersaroma.com</a></p>

                                                    <p class="mt-4"><a href="tel:0800332659">0 800 33 26 59</a></p>
                                                    <p class="p-title">По общим вопросам</p>
                                                    <p class="">Пн - Вс c 09:00 до 23:00<br>
                                                    по киевскому времени</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="body_menu_2 ml-sm-5">
                                            <div style="margin-bottom: 15px; margin-top: 15px; " class="row">
                                                <div class="col-md-6">
                                                    <p class=""><a style="font-weight: bolder" href="/about">О нас</a></p>
                                                    <p class=""><a style="font-weight: bolder" href="/delivery">Доставка и оплата</a></p>
                                                    <p class=""><a style="font-weight: bolder" href="/return">Обмен и возврат</a></p>
                                                    <p class=""><a style="font-weight: bolder" href="/blog">Блог</a></p>

                                                </div>
                                                <div class="col-md-6">
                                                    <p class=""><a style="font-weight: bolder" href="/privacy">Политика конф.</a></p>
                                                    <p class=""><a style="font-weight: bolder" href="/oferta">Публичная оферта</a></p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="black col-md-7  "></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div style="background: white;">
        <div class="search_form">
            <input type="text" placeholder="Введите текст для поиска">
            <li class="list-group list-group-search">


            </li>
        </div>
    </div>


    <div class="content">
    {% if messages %}
        {% for mess in messages %}
            <div class="alert alert-success">{{mess}}</div>
        {% endfor %}
    {% endif %}

    {% block body %}

    {% endblock %}

    </div>


    <footer class="footer pt-4 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="mb-3"><a style="font-weight: bolder" href="{%url 'shop_main'%}">Магазин</a></p>
                    <p><a class="" href="/shop/nabory">Наборы</a></p>
                    <p><a class="" href="/shop/bestsellers">Bestsellers</a></p>
                    <p><a class="" href="/shop/novinki">Новинки</a></p>
                    <p><a class="" href="/shop/parfyumy">Парфюмы</a></p>
                    <p><a class="" href="/shop/travel-versii">Travel версии</a></p>
                    <p><a class="" href="/shop/aromaty-dlya-doma">Ароматы для дома</a></p>
                    <p><a class="" href="/shop/sertifikaty">Сертификаты</a></p>
                    <p><a class="" href="/shop/ukhod">Уход за телом</a></p>
                    <p><a class="" href="/shop/svechi">Свечи</a></p>
                    <p><a class="" href="/shop/parfyumy-v-mashinu">Ароматы в авто</a></p>
                    <p><a class="" href="/shop/sanitayzery">Санитайзеры</a></p>
                </div>
                <div class="col-md-3">
                    <p class=""><a style="font-weight: bolder" href="/about">О нас</a></p>
                    <p class=""><a style="font-weight: bolder" href="/delivery">Доставка и оплата</a></p>
                    <p class=""><a style="font-weight: bolder" href="/return">Обмен и возврат</a></p>
                    <p class=""><a style="font-weight: bolder" href="/blog">Блог</a></p>
                </div>
                <div class="col-md-3">
                    <p class=""><a style="font-weight: bolder" href="/privacy">Политика конф.</a></p>
                    <p class=""><a style="font-weight: bolder" href="/oferta">Публичная оферта</a></p>

                </div>
                <div class="col-md-3">
                   <p><a href="mailto:info@sistersaroma.com">info@sistersaroma.com</a></p>

                    <p class="mt-4"><a href="tel:0800332659">0 800 33 26 59</a></p>
                    <p class="p-title">По общим вопросам</p>
                    <p class="">Пн - Вс c 09:00 до 23:00<br>
                    по киевскому времени</p>
                </div>
            </div>
            <p class="mt-3">© SISTERS AROMA 2018 — 2021</p>

        </div>
    </footer>


<!--    Все JS-->
<div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
        <!--    Подключка Анимаций-->
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script type="text/javascript" src="{% static 'content/main.min.js' %}"></script>

</div>

</body>
</html>