{% extends 'content/base.html' %}
{% load static %}

{% block title %} Доставка и оплата {% endblock %}

{% block head %}

{% endblock %}

{% block body %}

<div class="page-wrap">
	<div class="container mt-5">
		<h1 class="title-delivery mb-3">Доставка и оплата</h1>
		<h2>СТОИМОСТЬ ДОСТАВКИ</h2>
		<p>
			 Доставка на отделение НП - за счет компании при покупке от 750 грн.<br>
		</p>
		<p>
			 Услугу наложенный платеж, оплачивает клиент - 2% от суммы перевода +20 грн.
		</p>
		<p>
			 Адресная доставка курьером НП - за счет компании при покупке от 2500 грн. Только по полной предоплате.<br>
		</p>
		<p>
			 Заказы до 500 грн наложенным платежом не отправляются. <br>
			<br>
			К стоимости доставки наложенным платежом, согласно правилам новой почты, добавляются 20 грн + 2% от суммы заказа (перевода).
		</p>
		<p>
 <br>
		</p>
		<h2>
		СРОКИ ДОСТАВКИ</h2>
		<p>
			 Срок доставки составляет 2 дня по Киеву и около 3 дней в другие населенные пункты.
		</p>
		<p>
			 После оформления заказа с вами свяжется наш консультант для согласования всех деталей. При необходимости, Вы можете обратиться по номеру телефона:&nbsp;<a href="tel:0800332659">0800332659</a>
		</p>
		<p>
 <br>
		</p>
		<h2>
		ГЕОГРАФИЯ ДОСТАВКИ </h2>
		<p>
			 Доставка в отделение “Новой почты” осуществляется по всей территории Украины. Вы можете уточнить перечень отделений, перейдя по ссылке: <a href="https://novaposhta.ua/timetable" rel="nofollow">https://novaposhta.ua/timetable</a>
		</p>
		<p>
			 Отсутствуют: курьерская доставка, самовывоз.
		</p>
		<p>
 <br>
		</p>
		<h2>
		ПОЛУЧЕНИЕ ТОВАРА</h2>
		<p>
			 При получении, пожалуйста, тщательно осмотрите заказ, не покидая место пункта выдачи заказов. Проверьте посылку на наличие повреждений, подпишите необходимые документы и наслаждайтесь заказом. В случае выявления брака, поврежденной продукции или отсутствия товара свяжитесь с нами по горячей линии:&nbsp;<a href="tel:0800332659"><a href="tel:0800332659">0 800 33 26 59</a></a>.
		</p>
		<p>
 <br>
		</p>
		<h2>
		ОПЛАТА </h2>
		<p>
			 Вы можете выбрать любой удобный для вас способ оплаты -&nbsp; банковской картой.&nbsp; &nbsp;
		</p>
		<p>
			 Оплата наличными осуществляется при получении заказа в отделении Новой Почты.<br>
			 Адресная доставка осуществляется только по 100% предоплате.
		</p>
		<p>
			 Оплату картой можно произвести прямо на сайте. Visa /Mastercard /Privat 24(Liqpay).
		</p>
		<p>
			 Дополнительная информация о безопасности платежей в интернет-магазине Sister`s Aroma
		</p>
		<p>
			 ПЛАТЕЖНЫЙ СЕРВИС LIQPAY ИМЕЕТ СЕРТИФИКАТ PCI DSS.
		</p>
		<p>
		</p>
		<p>
			 Он подтверждает полное соответствие системы обработки данных платежных карт банка стандартам безопасности международных платежных систем Mastercard и Visa.
		</p>
	</div>
</div>

<div class="container page-wrap-2">
{% include 'include/contacts.html' %}
</div>





{% endblock %}