{% extends 'content/base.html' %}
{% load static %}

{% block title %} Доставка и оплата {% endblock %}

{% block head %}

{% endblock %}

{% block body %}

<div class="page-wrap mt-5">
<div class="container">
		<h1>ОБМЕН И ВОЗВРАТ</h1>
		<p>
			 Согласно действующим нормам законодательства, парфюмерно-косметические товары надлежащего качества не подлежат возврату или обмену.
		</p>
		<p>
 <i>*Согласно статьи 9 Закона Украины «О защите прав потребителей» от 12.05.1991 г. №1023-ХІІ и Приложения №3 к Постановлению КМУ «Про реализацию отдельных положений Закона Украины «О защите прав потребителей» от 19.03.1994 г. №172, к товарам надлежащего качества, которые не подлежат обмену (возврату), относятся: парфюмерно-косметические изделия, предметы санитарной гигиены, расчески, гребни и щетки массажные, товары в аэрозольной упаковке, инструменты для маникюра, педикюра (ножницы, пилочки и т. п.).</i>
		</p>
		<p>
 <br>
		</p>
		<h2>ЗАМЕНА БРАКОВАННОГО ТОВАРА</h2>
		<p>
			 При обнаружении заводского дефекта/брака, мы обязательно обменяем товар.&nbsp;
		</p>
		<p>
			 Если вы обнаружили, что заказ не соответствует заявленному качеству, вам следует:
		</p>
		<ul>
			<li>
			<p>
				 написать нам на почту, либо связаться по контактному номеру&nbsp;<a href="tel:0800332659"><a href="tel:0800332659">0 800 33 26 59</a></a>&nbsp;и описать все нюансы;
			</p>
 </li>
			<li>
			<p>
				 сделать фото, подтверждающее обнаружение брака;
			</p>
 </li>
			<li>
			<p>
				 заполнить анкетные данные.
			</p>
 </li>
		</ul>
		<p>
			 Наши сотрудники решат проблему в самые короткие сроки.
		</p>
	</div>
</div>

<div class="container page-wrap-2">
    {% include 'include/contacts.html' %}
</div>





{% endblock %}