<div class="row">
    <div class="col-md-4">
        <div class="contact-item" id="bx_3218110189_33">
            <div class="contact-item-title">По общим вопросам</div>
            <div class="contact-item-phone">
                <br>
                <a href="tel:0800332659">0 800 33 26 59</a>
            </div>
            <br>
            <div class="contact-item-title cont-phone-more">Другие телефоны</div>
            <br>
            <div class="contact-item-phone">
                <a href="tel:0675705158">
                    067 57 051 58
                </a>
            </div>
            <div class="contact-item-phone">
                <a href="tel:0503225977">
                    050 32 25 977
                </a>
            </div>
            <div class="contact-item-phone">
                <a href="tel:0632076875">
                    063 20 76 875
                </a>
            </div>
            <div class="contact-item-worktime">
                Пн - Вс c 09:00 до 23:00<br>
                по киевскому времени
            </div>
            <div class="contact-item-email">
                <a href="mailto:info@sistersaroma.com">info@sistersaroma.com</a>									</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="contact-item" id="bx_3218110189_34">
            <div class="contact-item-title">По вопросам сотрудничества</div>
            <div class="contact-item-phone">
                <a href="tel:+380954326840viber">
                    +38 095 432 68 40 (viber)
                </a>
            </div>
            <div class="contact-item-worktime">
                Пн - Пт c 09:00 до 18:00<br>
                по киевскому времени
            </div>
            <div class="contact-item-email">
                <a href="mailto:sales.ukr@sistersaroma.com">
                    sales.ukr@sistersaroma.com
                </a>
            </div>
        </div>
    </div>
</div>