{% extends 'content/base.html' %}
{% load static %}

{% block title %}  {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
  <div class="container">

    <div class="row">

      <div class="col-lg-3">


        <div class="list-group">
            <h3 class="my-4">Категории <img src="" alt=""></h3>
           {% for categor in category %}
            <a href="{{categor.slug}}" class="list-group-sub list-group-item transition">{{categor.title}}</a>
           {% endfor %}
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>


            <div class="row center_item">
                {% for product in products %}
                        <div class="shop_product {{product.slug}} col-md-3 col-sm-4  border-right border-bottom pb-2" >
                            <h4 class="">{{ product.title }}</h4>
                <!--            <p>{{product.description}}</p>-->

                            <div class = "img_sqe">
                            {% if product.img %}
                                <img src="{{ product.img.url }}" alt="{{ product.title }}">
                            {% else %}
                                <img src="/pictures/default.png" alt="{{ product.title }}">
                            {% endif %}
                            </div>
                            <div class="btn_volume">
                                <div class="row btn">
                                    {% if product.volumeTrue %}
                                        <button class="btn_volume_1" disabled="true">
                                            {{product.volume1}}ml
                                            <input type="hidden" class="btn_prise1" readonly value="{{product.prise1}}">
                                            <input type="hidden" class="btn_volume1" readonly value="{{product.volume1}}">
                                            <input type="hidden" class="slug" readonly value="{{ product.slug }}">
                                        </button>

                                        <button class="btn_volume_2">
                                            {{product.volume2}}ml
                                            <input type="hidden" class="btn_prise2" readonly value="{{product.prise2}}">
                                            <input type="hidden" class="btn_volume2" readonly value="{{product.volume2}}">
                                            <input type="hidden" class="slug" readonly value="{{ product.slug }}">
                                        </button>
                                    {% else %}
                                        {% if product.volume1 %}
                                        <button class="btn_volume_1" disabled="true">{{product.volume1}}ml</button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="btn_prise">
                                    <div class="price">
                                        {{product.prise1}} грн.
                                    </div>
                            </div>

                            <div class="row btns">
                                <div class="bttn">
                                    <a href="{{product.get_absolute_url}}"><button  class="btn btn-warning my_btn_product ml-2">Детали</button></a>
                                </div>
                                <div class="bttn">
                                    <form class="form-prod">
                                        {% csrf_token %}
                                        <input class="same-info" type="hidden" name="info" value="{{product.slug}}">
                                        <button type="submit" class="btn_korz">
                                            <input type="hidden" class="main_price" readonly value="{{product.prise1}}">
                                            <input type="hidden" class="main_volume" readonly value="{{product.volume1}}">
                                            <img src="{% static 'content/img/kzn.png' %}" class="korz" alt="+++">
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                {% endfor %}

            </div>

        <!-- /.row -->
        <div class="row pages">
            {% if is_paginated %}
                {% if page_obj.number > 5 %}
                <a href="{% url 'shop_main' %}">1</a>
                    <p>...</p>
                {% endif %}
                {% if page_obj.number == 5 %}
                    <a href="{% url 'shop_main' %}">1</a>
                {% endif %}
                {% if page_obj.number > 3 %}
                    <a href="?page={{ page_obj.number |add:'-3' }}" >{{ page_obj.number |add:'-3' }}</a>
                {% endif %}
                {% if page_obj.number > 2 %}
                    <a href="?page={{ page_obj.number |add:'-2' }}" >{{ page_obj.number |add:'-2' }}</a>
                {% endif %}
                {% if page_obj.number > 1 %}
                     <a href="?page={{ page_obj.number |add:'-1' }}" >{{ page_obj.number |add:'-1' }}</a>
                {% endif %}


                <a href="" style="text-decoration:underline ">{{ page_obj.number }}</a>


                {% if page_obj.paginator.num_pages > page_obj.number %}
                     <a href="?page={{ page_obj.number |add:'1' }}" >{{ page_obj.number |add:'1' }}</a>
                {% endif %}
                {% if page_obj.paginator.num_pages|add:'-1' > page_obj.number %}
                    <a href="?page={{ page_obj.number |add:'2' }}" >{{ page_obj.number |add:'2' }}</a>
                {% endif %}
                {% if page_obj.paginator.num_pages|add:'-2' > page_obj.number %}
                   <a href="?page={{ page_obj.number |add:'3' }}" >{{ page_obj.number |add:'3' }}</a>
                {% endif %}

                {% if page_obj.paginator.num_pages|add:'-4' == page_obj.number %}
                    <a href="?page={{page_obj.paginator.num_pages}}" >{{page_obj.paginator.num_pages}}</a>
                {% endif %}

                {% if page_obj.paginator.num_pages|add:'-4' > page_obj.number %}
                    <p>...</p>
                    <a href="?page={{page_obj.paginator.num_pages}}" >{{page_obj.paginator.num_pages}}</a>
                {% endif %}

            {% endif %}
        </div>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>


<!--    <div class="row pages">-->
<!--        {% if is_paginated %}-->
<!--            {% if page_obj.number > 5 %}-->
<!--            <a href="{% url 'shop_main' %}">1</a>-->
<!--                <p>...</p>-->
<!--            {% endif %}-->
<!--            {% if page_obj.number == 5 %}-->
<!--                <a href="{% url 'shop_main' %}">1</a>-->
<!--            {% endif %}-->
<!--            {% if page_obj.number > 3 %}-->
<!--                <a href="?page={{ page_obj.number |add:'-3' }}" >{{ page_obj.number |add:'-3' }}</a>-->
<!--            {% endif %}-->
<!--            {% if page_obj.number > 2 %}-->
<!--                <a href="?page={{ page_obj.number |add:'-2' }}" >{{ page_obj.number |add:'-2' }}</a>-->
<!--            {% endif %}-->
<!--            {% if page_obj.number > 1 %}-->
<!--                 <a href="?page={{ page_obj.number |add:'-1' }}" >{{ page_obj.number |add:'-1' }}</a>-->
<!--            {% endif %}-->


<!--            <a href="" style="text-decoration:underline ">{{ page_obj.number }}</a>-->


<!--            {% if page_obj.paginator.num_pages > page_obj.number %}-->
<!--                 <a href="?page={{ page_obj.number |add:'1' }}" >{{ page_obj.number |add:'1' }}</a>-->
<!--            {% endif %}-->
<!--            {% if page_obj.paginator.num_pages|add:'-1' > page_obj.number %}-->
<!--                <a href="?page={{ page_obj.number |add:'2' }}" >{{ page_obj.number |add:'2' }}</a>-->
<!--            {% endif %}-->
<!--            {% if page_obj.paginator.num_pages|add:'-2' > page_obj.number %}-->
<!--               <a href="?page={{ page_obj.number |add:'3' }}" >{{ page_obj.number |add:'3' }}</a>-->
<!--            {% endif %}-->

<!--            {% if page_obj.paginator.num_pages|add:'-4' == page_obj.number %}-->
<!--                <a href="?page={{page_obj.paginator.num_pages}}" >{{page_obj.paginator.num_pages}}</a>-->
<!--            {% endif %}-->

<!--            {% if page_obj.paginator.num_pages|add:'-4' > page_obj.number %}-->
<!--                <p>...</p>-->
<!--                <a href="?page={{page_obj.paginator.num_pages}}" >{{page_obj.paginator.num_pages}}</a>-->
<!--            {% endif %}-->

<!--        {% endif %}-->
<!--    </div>-->


{% endblock %}