{% extends 'content/base.html' %}
{% load static %}

{% block title %}  {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h3>Корзина</h3>
        <hr>
    </div>
    <div class="container">
    {% for i in basket %}
        <div class=" row you_basket {{i.slug}} {{i.slug}}_{{i.price}}">
            <div class="img_block col-4 col-md-3">
                <div class="img-body row">
                    <img src="{{ i.img_url }}" alt="{{ i.slug }}">
                </div>
            </div>
            <div class="text col-8 col-md-9 {{i.price}}">
                <div class="line">
                    <h6><a href="{{ i.get_absolute_url }}">
                        {{ i.title }}
                        {% if i.volume != 0 %}
                        {{i.volume}}мл
                        {% endif %}
                    </a></h6>

                </div>
                <div class="input">
                    <div class="row">
                        <form class="form-prod-minus col-2">
                            {% csrf_token %}
                            <input class="same-info" type="hidden" readonly name="info" value="{{i.slug}}">
                            <input type="hidden" class="main_price" readonly value="{{i.price}}">
                            <input type="hidden" class="main_volume" readonly value="{{i.volume}}">

                            <button type="submit" class="btn_korz">
                                <input type="hidden" class="main_price" readonly value="{{i.price}}">
                                <img src="{% static 'shop/img/minus.png' %}" class="korz" alt="+++">
                            </button>
                        </form>
                        <div class="quantity-div">
                            <p class="col-2 quantity ">
                                {{i.quantity}}
                            </p>
                        </div>

                        <form class="form-prod form-prod-plus col-2">
                            {% csrf_token %}
                            <input class="same-info" type="hidden" readonly name="info" value="{{i.slug}}">
                            <input type="hidden" class="main_price" readonly value="{{i.price}}">
                            <input type="hidden" class="main_volume" readonly value="{{i.volume}}">

                            <button type="submit" class="btn_korz">
                                <input type="hidden" class="main_price" readonly value="{{i.price}}">
                                <img src="{% static 'shop/img/plus.png' %}" class="korz" alt="+++">
                            </button>
                        </form>
                    </div>

                </div>
                <div class="money">
                    {% widthratio i.quantity 1 i.price %} ₴
                </div>
            </div>
        </div>

        <div class="checkout">
            <div class="full-value row">
                <p>Итого</p>
                <p class="sum"></p>
            </div>

            <div class="btn">
                <form action="">
                    <button class="btn">Оформить заказ</button>
                </form>
            </div>
        </div>


    {% endfor %}
    </div>

    <div class="body_form_basket concealer">
        <div class="form_basket_hidden">
            {% include 'include/form_basket.html' %}
        </div>
    </div>


{% endblock %}